body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

input, button {
  padding: 10px;
  margin: 5px;
}

input {
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

#output {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 80%;
  margin-top: 20px;
}

#output div {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #fff;
}
